<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>test</title>
  <style>
    #app {
      width: 80%;
      margin: auto;
      display: none;
    }

    table {
      width: 100%;
    }

    p {
      text-align: right;
    }

    input {
      padding: 5px;
    }
    label{
      cursor: pointer;
    }
    .options-bar{
      background: #9fcf9f;
      padding:10px  5px;
    }

    textarea {
      width: 100%;
      display: block;
      padding:5px;
      font-size: 16px;
      margin-top: 30px;
      height: 100px;
    }
  </style>

</head>

<body>
  <div id="app" v-bind:style="{display:block}">
    <textarea placeholder="输入URL地址：" v-model="url"></textarea>

    <textarea v-model="request" v-bind:style="{ color: color}"></textarea>
    <p><a href="javascript:;" v-on:click="http">send</a></p>

    <p class="options-bar">
        <a v-if="sendtype==='post'" href="javascript:;" v-on:click="add">新增</a>
         <label for="post">post<input v-model="sendtype" name='sendtype' id="post" value="post" type="radio"></label>
         <label for="get">get<input v-model="sendtype" name='sendtype' id="get" value="get" type="radio"></label>
      </p>
      <div v-if="sendtype==='post'">
        <table>
          <tr v-for="(item, index) in param">
            <td>key：<input type="text" v-model:value="item.key"> </td>
            <td>value：<input type="text" v-model:value="item.value"></td>
            <td><a href="javascript:;" v-on:click="remove(index)">删除</a></td>
          </tr>
        </table>
  
      </div>
  </div>
  <script src="js/jquery3.2.1.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/http.js"></script>
</body>

</html>